.demo{
    width: 100px;
    height: 100px;
    background-color: green;
  }

  svg{
    width: 500px;
  }
  #name{
    position:absolute;
  }

  #logo1{
    position: absolute;
  }
 

  .textCircle{
    width: 100px;
  }